# Dependencias
node_modules/

# Builds
dist/

# Variables de entorno (nunca subir)
.env
.env.local

# Logs
*.log
npm-debug.log*

# Prisma generado
node_modules/.prisma/

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
